# **Dairy farm code**

# Data Understanding

#### Imports

In [1]:
import pandas as pd

In [2]:
# Import the CSV file into a DataFrame
farm_df = pd.read_csv("Extended_Groundwater_Dataset.csv")
farm_df.head()  # Display the first few rows of the DataFrame

,date,pH,electrical_conductivity_dS_m,nitrate_input_mg_L,fertilizer_kg_ha,manure_kg_ha,ammonium_mg_L,chloride_mg_L,crop_type,livestock_density_LU_ha,...,Sodium (NA),Ammonium (NH4-N),Nitrate (NO3-N),Total Phosphorus (PTOT-P),Phosphate (PO4-P),Lead (PB),Zinc (ZN),sunlight_hours,humidity_percent,temperature_celsius
0,1979-11-05,6.05,0.77,0.00,276.08,142.23,7.28,68.18,maize,3.18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.76,87.50,10.58
1,1979-11-05,6.34,1.12,47.82,209.28,112.23,4.02,56.88,grass,3.85,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.72,78.79,11.72
2,1979-11-05,5.51,1.38,37.02,237.73,144.38,2.69,33.43,potatoes,1.70,...,70.141,40.766,0.029,4.693,NaN,0.2,4.0,3.42,89.31,11.85
3,1979-11-05,4.92,1.04,63.87,107.53,72.44,1.41,47.53,grass,1.23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.68,83.99,12.70
4,1979-11-05,6.76,1.16,7.26,179.88,96.18,7.59,59.12,maize,0.97,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.71,79.97,10.46

In [3]:
farm_df.isnull().sum()

date                                 0
pH                                   0
electrical_conductivity_dS_m         0
nitrate_input_mg_L                   0
fertilizer_kg_ha                     0
manure_kg_ha                         0
ammonium_mg_L                        0
chloride_mg_L                        0
crop_type                            0
livestock_density_LU_ha              0
urbanization                         0
soil_type                            0
aquifer_type                         0
permeability_m_day                   0
groundwater_level_cm                 0
precipitation_mm                     0
drought_days                         0
evaporation_mm                       0
nitrate_groundwater_mg_L             0
Aluminum (AL)                    74440
Arsenic (AS)                     74747
Barium (BA)                      74503
Calcium (CA)                     74440
Cadmium (CD)                     74440
Chloride (CL)                    74494
Copper (CU)                      74440
Electrical Conductivity (EC)     75345
pH (Lab)                         74474
Potassium (K)                    74440
Magnesium (MG)                   74440
Manganese (MN)                   74440
Sodium (NA)                      74440
Ammonium (NH4-N)                 74440
Nitrate (NO3-N)                  74494
Total Phosphorus (PTOT-P)        74503
Phosphate (PO4-P)               144021
Lead (PB)                        74440
Zinc (ZN)                        74464
sunlight_hours                       0
humidity_percent                     0
temperature_celsius                  0
dtype: int64

In [4]:
unique_values_per_column = farm_df.nunique()

# Print results
print(unique_values_per_column)

date                            16018
pH                                311
electrical_conductivity_dS_m      201
nitrate_input_mg_L               5349
fertilizer_kg_ha                 7764
manure_kg_ha                     7193
ammonium_mg_L                    1070
chloride_mg_L                    5602
crop_type                           5
livestock_density_LU_ha           501
urbanization                        3
soil_type                           4
aquifer_type                        2
permeability_m_day                991
groundwater_level_cm             6644
precipitation_mm                 6203
drought_days                       60
evaporation_mm                   4799
nitrate_groundwater_mg_L         2519
Aluminum (AL)                     490
Arsenic (AS)                      902
Barium (BA)                      1426
Calcium (CA)                     1281
Cadmium (CD)                      222
Chloride (CL)                    1418
Copper (CU)                       263
Electrical Conductivity (EC)      906
pH (Lab)                          354
Potassium (K)                    1303
Magnesium (MG)                   1394
Manganese (MN)                    740
Sodium (NA)                      1410
Ammonium (NH4-N)                  892
Nitrate (NO3-N)                   385
Total Phosphorus (PTOT-P)         542
Phosphate (PO4-P)                   0
Lead (PB)                         130
Zinc (ZN)                         377
sunlight_hours                   1101
humidity_percent                 4501
temperature_celsius              1903
dtype: int64

In [5]:
# Here we check which rows have data missing in them. This helps decide which to remove
missing_counts = farm_df.isna().sum()
total_counts = farm_df.shape[0]  # Total number of rows

result = pd.DataFrame({
    'Missing Values': missing_counts,
    'Total Values': total_counts,
    'Missing Percentage': (missing_counts / total_counts * 100).round(2)
})

print(result)

                              Missing Values  Total Values  Missing Percentage
date                                       0        144021                0.00
pH                                         0        144021                0.00
electrical_conductivity_dS_m               0        144021                0.00
nitrate_input_mg_L                         0        144021                0.00
fertilizer_kg_ha                           0        144021                0.00
manure_kg_ha                               0        144021                0.00
ammonium_mg_L                              0        144021                0.00
chloride_mg_L                              0        144021                0.00
crop_type                                  0        144021                0.00
livestock_density_LU_ha                    0        144021                0.00
urbanization                               0        144021                0.00
soil_type                                  0        144021                0.00
aquifer_type                               0        144021                0.00
permeability_m_day                         0        144021                0.00
groundwater_level_cm                       0        144021                0.00
precipitation_mm                           0        144021                0.00
drought_days                               0        144021                0.00
evaporation_mm                             0        144021                0.00
nitrate_groundwater_mg_L                   0        144021                0.00
Aluminum (AL)                          74440        144021               51.69
Arsenic (AS)                           74747        144021               51.90
Barium (BA)                            74503        144021               51.73
Calcium (CA)                           74440        144021               51.69
Cadmium (CD)                           74440        144021               51.69
Chloride (CL)                          74494        144021               51.72
Copper (CU)                            74440        144021               51.69
Electrical Conductivity (EC)           75345        144021               52.32
pH (Lab)                               74474        144021               51.71
Potassium (K)                          74440        144021               51.69
Magnesium (MG)                         74440        144021               51.69
Manganese (MN)                         74440        144021               51.69
Sodium (NA)                            74440        144021               51.69
Ammonium (NH4-N)                       74440        144021               51.69
Nitrate (NO3-N)                        74494        144021               51.72
Total Phosphorus (PTOT-P)              74503        144021               51.73
Phosphate (PO4-P)                     144021        144021              100.00
Lead (PB)                              74440        144021               51.69
Zinc (ZN)                              74464        144021               51.70
sunlight_hours                             0        144021                0.00
humidity_percent                           0        144021                0.00
temperature_celsius                        0        144021                0.00

In [6]:
# Add time-based features
farm_df['date'] = pd.to_datetime(farm_df['date'])
farm_df['month'] = farm_df['date'].dt.month
farm_df['year'] = farm_df['date'].dt.year
farm_df['week'] = farm_df['date'].dt.isocalendar().week

In [9]:
# Group by 'year' and calculate missing values, total values, and missing percentage
missing_per_year = farm_df.groupby('date',).apply(lambda group: pd.DataFrame({
    'Missing Values': group.isna().sum(),
    'Total Values': len(group),
    'Missing Percentage': (group.isna().sum() / len(group) * 100).round(2)
}))

print(missing_per_year)

                                         Missing Values  Total Values  \
date
1979-11-05 date                                       0            12
           pH                                         0            12
           electrical_conductivity_dS_m               0            12
           nitrate_input_mg_L                         0            12
           fertilizer_kg_ha                           0            12
...                                                 ...           ...
2023-09-13 humidity_percent                           0            12
           temperature_celsius                        0            12
           month                                      0            12
           year                                       0            12
           week                                       0            12

                                         Missing Percentage
date
1979-11-05 date                                         0.0
           pH                                           0.0
           electrical_conductivity_dS_m                 0.0
           nitrate_input_mg_L                           0.0
           fertilizer_kg_ha                             0.0
...                                                     ...
2023-09-13 humidity_percent                             0.0
           temperature_celsius                          0.0
           month                                        0.0
           year                                         0.0
           week                                         0.0

[704792 rows x 3 columns]

C:\Users\markh\AppData\Local\Temp\ipykernel_14864\325849060.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  missing_per_year = farm_df.groupby('date',).apply(lambda group: pd.DataFrame({

In [10]:
unique_dates_per_year = farm_df.groupby('year')['date'].nunique()

print(unique_dates_per_year)

year
1979     57
1980    366
1981    365
1982    365
1983    365
1984    366
1985    365
1986    365
1987    365
1988    366
1989    365
1990    365
1991    365
1992    366
1993    365
1994    365
1995    365
1996    366
1997    365
1998    365
1999    365
2000    366
2001    365
2002    365
2003    365
2004    366
2005    365
2006    364
2007    365
2008    366
2009    365
2010    365
2011    365
2012    366
2013    365
2014    365
2015    365
2016    366
2017    365
2018    365
2019    365
2020    366
2021    365
2022    365
2023    256
Name: date, dtype: int64